<?xml version="1.0" encoding="UTF-8"?>
<generate>
	
	<!-- 指定应用名称 isop/channel-->
	<appName>general</appName>
	
	<!-- 工作空间项目路径  路径配置请以/结束 -->
	<srcPath>D:/workspaces/general/isalesigeneral/</srcPath>
	
	<!-- 国际化导出地址  路径配置请以/结束 -->
	<excelPath>D:/</excelPath>
	
	<!-- 单表 -->
	<singleRule>
		<!-- 生成类名 -->
		<className>GeneralCaseDocumentTest</className>
		<!-- 表名 -->
		<tableName>tmp_20170605</tableName>
		<!-- 主表主键     选填可为空,表未设置主键时手动指定表主键字段 -->
		<tablePrimaryKey></tablePrimaryKey>
	</singleRule>

	<generalFileMenu>
		<packageName>igeneral</packageName>
		<aipPackagePath>isalesigeneral.facade.api/src/main/java/com/it/igeneral/</aipPackagePath>
		<implPackagePath>isalesigeneral.core/src/main/java/com/it/igeneral/</implPackagePath>
		<daoPackagePath>isalesigeneral.core/src/main/resources/com/it/igeneral/</daoPackagePath>
		<webPackagePath>isalesigeneral.webresources/src/main/resources/web/igeneral/</webPackagePath>
		<configFilePath>isalesigeneral.core/src/main/resources/config/salesigeneral.services.xml</configFilePath>
		<importOrExportPath>isalesigeneral.core/src/main/resources/config/</importOrExportPath>
		<importOrExportHeader>isales.igeneral</importOrExportHeader>
		<replacePackName>generaluploadcase</replacePackName><!-- 需要将生成的文件放入已存在的目录时指定该参数 -->
		<i18nKey>isales.igeneral</i18nKey>
	</generalFileMenu>
	


	<!-- 数据库链接配置 -->
	<connection>
		<driver>oracle.jdbc.driver.OracleDriver</driver>
		<driverUrl>jdbc:oracle:thin:@()</driverUrl>
		<user>sale_apps</user>
		<password>Pr0d1234</password>
	</connection>
	
	<!-- 查询表字段sql -->
	<queryTableColumnSql>
		select acc.column_name,acc.comments,atc.data_type,atc.column_id from all_col_comments acc left join all_tab_columns atc on acc.table_name=atc.table_name and acc.column_name=atc.column_name where acc.table_name='{0}'
	</queryTableColumnSql>
	
	<!-- 查询表主键sql -->
	<queryTablePrimayKeySql>
		select acc.column_name from all_constraints ac left join all_cons_columns acc on acc.constraint_name = ac.constraint_name where ac.constraint_type='P' and ac.table_name='{0}'
	</queryTablePrimayKeySql>
	
	<!-- 需要忽略的字段 -->
	<ignoreReloadColumns>
		createdBy,creationDate,lastUpdateDate,lastUpdatedBy,deleteFlag,attr1,attr2,attr3,attr4,attr5,attribute1,attribute2,attribute3,attribute4,attribute5,parentId
	</ignoreReloadColumns>
</generate>
